
@{
    ViewBag.Title = "Xacnhandondathang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2 style="text-align: center">BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG. CHÚC BẠN MỘT NGÀY VUI VẺ!</h2>
<p>
    <a href="@Url.Action("Index","Home")" style="text-align: center" class="btn btn-danger">Trở về trang chủ</a>
</p>

